{% extends 'base.html' %}

{% block content %}
<br>

<div class="container-fluid" id="display">

    <div id="homepage">
        <h1>KevyGallery</h1>
        <br><br>
        <h3>"Find different stunning pictures taken allover the world"</h3>

   
        <a href="#gallery" class="btn btn-default btn waves-effect waves-light">View Photos</a>

    </div>

</div>


<div class="container-fluid text-text white" id="gallery">
    <br>
    <br>
    <br>
    <!-- loop through photos  -->
    {% for image in images %}
    <!-- display articles -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        <div class="card cardizo white">
            <div class="card-image">
                <a class="white-text" href="/image/{{image.id}}"><img src="{{image.photo.url}}"></a>
            </div>

        </div>

    </div>
    {% endfor %}


    <br>
    <br>
    <br>
    <br>
</div>

</div>


{% endblock %}