.container {
    border-radius: 2%;
}

.jumbotron {
    width: 100%;
}

#display {
    background: url(../images/image1.jpeg);
    background-size: cover;
    height: 900px;
}

#homepage {
    position: relative;
}
